# Edit ZSH
alias ezsh='nvim ~/.zshrc'

# Git
alias addall='git add .'
alias commit='git commit -m'
alias fetch='git fetch'
alias pull='git pull origin'
alias push='git push origin'
alias status='git status'
alias branch='git branch'
